.steps-container {
  margin-left: 10%;
  margin-right: 10%;
  height: 500px;
  margin-top: 100px;
}

.enclosing-section{
  float: left;
  width: 30%;
  height: 80%;
  border:1px #000000 solid;
  background-color: rgb(254, 255, 255);
  padding-top : 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
